*{
    margin: 0;
    padding: 0;
    /*内减模式*/
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }

  body {
    background-color: #f3f5f7;
}

/*版心*/
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/*头部*/
.header{
    height: 42px;
    margin: 30px auto;
}

h1{
    float: left;
}
