/* 精品推荐课程*/
.box{
    margin-top: 35px;
}

.box .title{
    height: 40px;
}

.box .title h2{
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}

.box .title a{
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #5a5a5a;
}

.box .content li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}

.box .content li:nth-child(5n){
    margin-right: 0;
}

.box .content li h3{
    padding: 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box .content li p{
    padding: 0 20px;
    font-size: 12px;
    color: #999;
}

.box .content li span{
    color: #ff7c2d;
}

/* 版权*/
.footer{
    margin-top: 40px;
    height: 417px;
    padding-top: 30px;
    background-color: #fff;
}

.footer .left{
    float: left;
}

.footer .left p{
    margin: 20px 0 10px;
    font-size: 12px;
    color: #666;
}

.footer .left a{
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
    display: inline-block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
}

.footer .right{
    float: right;
}

.footer .right dl{
    float: left;
    margin-left: 120px;
}